.alert-no-round{
    margin-bottom: 0;
    border-radius: 0;
}

.font-example{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bg-lightGray{
    background-color: lightgray;
}